footer#footer
    .columns.has-text-centered
        .column
            .icon   
                i.fab.fa-facebook
            .icon   
                i.fab.fa-instagram
            .icon   
                i.fab.fa-youtube

        .column 
            p © Copyright 2019 T.D. Jakes Ministries. All Rights Reserved.
        .column
            .button.is-primary Join The Mailin List