header#header.header
    .header__heading
        a.nav__link.hamburger-menu(href='#')
            i.fas.fa-bars
        .logo
            a(href='/',class='logo__link')
                img.logo__image(src="../images/crosspointe-logo(2).png")
    nav#nav.nav
        ul.nav__list
            li.nav__item
                a.nav__link.active(href='/') Home
            li.nav__item
                a.nav__link(href='/') Meet Our Pastors
            li.nav__item
                a.nav__link(href='/') What We Believe
            li.nav__item
                a.nav__link(href='/') Ministries
    .button__section
        a.nav__link.button(href='https://www.facebook.com/achor.cpmc' target='_blank') Watch Us Live